github "Alamofire/Alamofire" "swift4"
github "SwiftyJSON/SwiftyJSON" ~> 3.0
github "rs/SDWebImage" ~> 3.8
github "ReactiveX/RxSwift" "swift4.0"
github "realm/realm-cocoa" ~> 2.2
github "xmartlabs/XLPagerTabStrip" "swift4"
